In [1]:
7 % 4

3

In [2]:
a = 10

In [5]:
a = a + a
a

80

In [6]:
type(a)

int

In [20]:
"I don't do that"[-1]
"I don't do that"[::len("I don't do that") % 2]

"I don't do that"

In [22]:
print("Hello\nWorld\t:)")

Hello
World 	:)

In [23]:
mystring = "My Name"

In [26]:
mystring.split()[0]

'My'

In [27]:
mystring = 'abcdefghijk'

In [28]:
mystring[2:]

'cdefghijk'

In [30]:
mystring[:3] #up to but not including 3

'abc'

In [31]:
mystring[3:6]

'def'

In [32]:
x = 'Hello World'

In [33]:
x + x

'Hello WorldHello World'

In [35]:
letter = 'z'

In [36]:
letter * 10

'zzzzzzzzzz'

In [37]:
x = 'hello world'

In [39]:
x.capitalize()

'Hello world'

In [40]:
x.split()

['hello', 'world']

In [41]:
x = 'hi this is a string'

In [42]:
x.split('i')

['h', ' th', 's ', 's a str', 'ng']

In [43]:
print("This is a string {}".format('INserted'))

This is a string INserted

In [44]:
print('The {f} {b} {b}'.format(f='fox',b='brown'))

The fox brown brown

In [45]:
result = 100/77

In [49]:
print("The result was {r:1.3f}".format(r=result))

The result was 1.299

In [50]:
name="Jose"

In [51]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

# Lists

In [1]:
my_list = [1,2,3]

In [2]:
my_list = ['string',1,23.2]

In [3]:
mylist = ['one', 'two', 'three']

In [4]:
mylist[1:]

['two', 'three']

In [5]:
mylist + my_list

['one', 'two', 'three', 'string', 1, 23.2]

In [6]:
mylist[0] = 'ONE'

In [7]:
mylist

['ONE', 'two', 'three']

In [8]:
append

NameError: name 'append' is not defined

In [9]:
mylist.pop()

'three'

In [10]:
mylist

['ONE', 'two']

In [11]:
abc_list = ['a','y','e','b','h']
num_list = [4,2,1,5,4]

In [14]:
num_list.sort() # in place sorting

In [13]:
num_list

[1, 2, 4, 4, 5]

most important methods for list are apend, pop,

# Dictionaires

In [15]:
my_dict = {'key1':'value1','key2':'value2'}

In [17]:
my_dict['key1']

'value1'

In [18]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [19]:
prices_lookup['apple']

2.99

In [20]:
d = {'k1':123,'k2':[0,1,2],'k3':{'insidekey':100}}

In [21]:
d['k3']

{'insidekey': 100}

In [22]:
d['k4'] = 93

In [23]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 100}, 'k4': 93}

In [25]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

tuple immutale

sets only unique values

# inputs and outputs

In [26]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Writing myfile.txt

In [27]:
myfile = open('myfile.txt')

In [28]:
pwd

'C:\\Users\\Steven\\Documents\\GitHub\\Python-Bootcamp'

In [29]:
myfile = open('myfile.txt')

In [30]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line'

In [33]:
myfile.seek(0)

0

In [34]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line']

In [35]:
myfile.close()

In [36]:
with open('myfile.txt', mode='r') as mynewfile: 
    contents = mynewfile.read()

In [37]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Writing my_new_file.txt

In [40]:
with open('my_new_file.txt', mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [39]:
with open('my_new_file.txt', mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [41]:
with open('asdasdasd.txt', mode='w') as f:
    f.write('I CREATED THIS FILE')

In [42]:
with open('asdasdasd.txt', mode='r') as f:
    print(f.read())

I CREATED THIS FILE